/* Common styles */
.btn-body {
    height: 80px;
    width: 60px;
    border-radius: 20px;
    color: #1DB954; /* Spotify green */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto; /* Center the button horizontally */
    transition: all 0.3s ease;
    background-color: transparent;
    border: 1px solid transparent; /* Add border for better visibility */
}

/* Active state */
.btn-body.active {
    background-color: #1DB954; /* Spotify green */
    color: white;
    transform: scale(1.05);
    border: 1px solid transparent; /* Maintain border even when active */
}

/* Hover state */
.btn-body:hover {
    background-color: #1ED760; /* Lighter green for hover */
    color: white;
}

/* Button title */
.btn-title {
    margin: 4px auto;
    font-weight: 600;
    font-size: 13px;
}
