.feed-container {
  padding: 20px;
  background-color: #1e2a3e;
  color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.feed-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.feed-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.feed-item {
  background-color: #282828;
  border-radius: 8px;
  overflow: hidden;
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s;
}

.feed-item:hover {
  transform: scale(1.05);
}

.feed-item-cover {
  width: 100%;
  height: auto;
}

.feed-item-info {
  padding: 10px;
}

.feed-item-info h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.feed-item-info p {
  font-size: 14px;
  color: #b3b3b3;
}
